@* Get to Know Joel page - links to Joel's comedy and podcast endeavors *@
@{
    ViewData["Title"] = "Get to Know Joel";
}

<div class="text-center">
    <h1 class="display-4">Get to Know Joel</h1>
    <br />

    @* Link to Quick Wits Comedy where Joel performs regularly *@
    <p>
        Joel performs regularly at
        <a href="https://www.qwcomedy.com/" target="_blank">Quick Wits Comedy</a>.
    </p>

    @* Link to the Baconsale podcast site *@
    <p>
        Check out Joel's weekly podcast about films &amp; pop culture at
        <a href="https://baconsale.com/" target="_blank">Baconsale</a>.
    </p>

    <br />

    @* Clickable photo that links to the Baconsale website *@
    <a href="https://baconsale.com/" target="_blank">
        <img src="~/images/baconsale.jpg" alt="Baconsale Podcast" class="img-fluid" style="max-height: 500px;" />
    </a>
</div>
