@* Home page - displays the collection title and Joel Hilton's photo *@
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <img src="~/images/joel_hilton.jpg" alt="Joel Hilton" class="img-fluid" style="max-height: 500px;" />
</div>
